<nav class="navbar is-spaced <%= navbar_user_class %>">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag 'logo.png' %>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
    </div>


    <% if current_user %>
      <div class="navbar-end">
          <% if current_user.admin? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a href="#" class="navbar-link">Outreach Events</a>
              <div class="navbar-dropdown">
                <%= link_to "Outreach Events", outreach_events_path, class: "navbar-item" %>
                <%= link_to "Outreach Event Types", admin_outreach_event_types_path, class: "navbar-item" %>
              </div>
            </div>
          <% else %>
            <%= link_to "Outreach Events", outreach_events_path, class: "navbar-item" %>
          <% end %>

        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link">People of MRV</a>
          <div class="navbar-dropdown">
            <%= link_to "People of MRV", users_path, class: "navbar-item" %>
            <%= link_to "Cohorts", cohorts_path, class: "navbar-item" %>

            <% if current_user.admin? %>
              <%= link_to "Invite New Student", new_user_invitation_path, class: "navbar-item" %>
            <% end %>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link">Account</a>
          <div class="navbar-dropdown">
            <%= link_to "My Profile", profile_path, class: "navbar-item" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-item" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</nav>