<%= form_for @outreach_event do |form| %>
 
  <% if @outreach_event.errors.any? %>
    <% #TODO %>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input" %>
    </div>
  </div>
 
  <div class="field">
    <%= form.label :date_range, class: "label" %>
    <div class="control">
      <%= form.datetime_field :date_range, class: "input", type: "datetime", autocomplete: "off", value: @outreach_event.date_range, data: {'start-date': defined? @outreach_event.start_time.strftime(OutreachEvent::DATE_FORMAT), 'end-date': defined? @outreach_event.end_time.strftime(OutreachEvent::DATE_FORMAT)} %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <div class="control">
      <%= form.text_area :description, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :duration_in_minutes, class: "label" %>
    <div class="control">
      <%= form.number_field :duration_in_minutes, class: "input", step: 15 %>
    </div>
  </div>

  <div class="field">
    <%= form.label :people_reached, class: "label" %>
    <div class="control">
      <%= form.number_field :people_reached, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :notes, class: "label" %>
    <div class="control">
      <%= form.text_area :notes, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :collaborator_ids, "Collaborators", class: "label" %>
    <%= form.select :collaborator_ids, options_from_collection_for_select(User.all, 'id', 'first_name', @outreach_event.collaborator_ids), {}, { class: "js-form-select2", multiple: "multiple", data: {"select2-placeholder-text": 'Select Collaborators'} } %>
  </div>

  <div class="field">
    <%= form.label :outreach_event_type_ids, "Outreach Event Types", class: "label" %>
    <%= form.select :outreach_event_type_ids, options_from_collection_for_select(OutreachEventType.all, 'id', 'name', @outreach_event.outreach_event_type_ids), {}, { class: "js-form-select2", multiple: "multiple", data: {"select2-placeholder-text": 'Select Outreach Event Types'} } %>
  </div>

  <div class="control">
    <%= form.submit class: "button is-primary" %>
  </div>
<% end %>