<p>
	<strong>Start Time:</strong>
  <%= format_date(@outreach_event.start_time) %>
</p>
 
<p>
  <strong>End Time:</strong>
  <%= format_date(@outreach_event.end_time) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outreach_event.description %>
</p>

<p>
  <strong>Duration:</strong>
  <% #TODO display in hours? %>
  <%= @outreach_event.duration_in_minutes %>
</p>

<p>
  <strong>Number of People Reached:</strong>
  <%= @outreach_event.people_reached %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @outreach_event.notes %>
</p>

<p>
  <strong>Collaborators:</strong>
  <%= @outreach_event.collaborators.map(&:full_name).join(", ") %>
</p>

<p>
  <strong>Outreach Event Types:</strong>
  <%= @outreach_event.outreach_event_types.map(&:name).join(", ") %>
</p>

<%= link_to 'Edit', edit_outreach_event_path(@outreach_event) %>
<%= link_to 'Back', outreach_events_path %>