<p>
  <strong>Title:</strong>
  <%= @outreach_event.title %>
</p>

<p>
	<strong>Start Time:</strong>
  <%= format_date(@outreach_event.start_time) %>
</p>
 
<p>
  <strong>End Time:</strong>
  <%= format_date(@outreach_event.end_time) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outreach_event.description %>
</p>

<p>
  <strong>Duration:</strong>
  <% #TODO display in hours? %>
  <%= @outreach_event.duration_in_minutes %>
</p>

<p>
  <strong>Number of People Reached:</strong>
  <%= @outreach_event.people_reached %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @outreach_event.notes %>
</p>

<p>
  <strong>Collaborators:</strong>
  <%= collaborator_list(@outreach_event) %>
</p>

<p>
  <strong>Outreach Event Types:</strong>
  <%= @outreach_event.outreach_event_types.map(&:name).join(", ") %>
</p>

<% if OutreachEventPolicy.new(current_user, @outreach_event).update? %>
  <%= link_to 'Edit', edit_outreach_event_path(@outreach_event) %>
<% end %>
<% if OutreachEventPolicy.new(current_user, @outreach_event).destroy? %>
  <%= link_to 'Delete', outreach_event_path(@outreach_event), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', outreach_events_path %>