<!DOCTYPE html>
<html>
  <head>
    <title>MrvHoursTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <div>
      <% flash.each do |k,v| %>
        <div class=" <%= k %>"><%= v %></div>
      <% end unless flash.empty? %>
    </div>

    <%= yield %>
  </body>
</html>
