<!DOCTYPE html>
<html>
  <head>
    <title>Master Recycler Vancouver Outreach Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <%= render partial: "shared/subnav" %>

    <div class="container <%= current_user.present? and !current_user.student? ? 'is-medium' : 'is-small' %> is-padded">
      <div class="">
        <% flash.each do |type, message| %>
          <div class="message <%= flash_type_class(type) %>">
            <div class="message-body">
              <%= message %>
            </div>
          </div>
        <% end unless flash.empty? %>
      </div>

      <h2 class="title">
        <%= yield :page_header %>
        <div class="title-action">
          <%= yield :page_header_action %>
        </div>
      </h2>

      <%= yield %>
    </div>
  </body>
</html>