<!DOCTYPE html>
<html>
  <head>
    <title>Master Recycler Vancouver Outreach Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar--admin">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item" %>
    </nav>
    <div class="container">
      <div>
        <% flash.each do |k,v| %>
          <div class=" <%= k %>"><%= v %></div>
        <% end unless flash.empty? %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>